<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home/style.css">
  <script defer src="/home/script.js"></script>
  <title>daShit</title>
</head>
<body>
  <button class="logout"><a href="/logout">Log Out</a></button>
  <div class="container">
    <h1>Stats</h1>
    <div class="stats-container">
      <div class="stat">
        <h2>System Uptime:</h2>
        <p id="uptime"></p>
      </div>
      <div class="stat">
        <h2>CPU Usage:</h2>
        <p id="cpu"></p>
      </div>
      <div class="stat">
        <h2>RAM Usage:</h2>
        <p id="ram"></p>
      </div>
    </div>
  </div>
</body>
</html>